.THIS {
}

.THIS .objectTypeIcon {
    margin: 0 .75rem 0 0;
}

.THIS .objectType {
    text-transform: capitalize;
}

.THIS .locked-in {
    background-color: #d8edff;
}

.THIS .objectTypePanel {
	position: absolute;
}